.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 2rem;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h5 {
  margin: 0;
}

.note-submit-form {
  padding: 20px; //
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #002;
}
