.button {
  color: #808080;
  margin: 1px;
  padding: 5px 15px 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 100%;
  border: 1px solid #dddddd;
  outline: none;
}

.button:focus,
.button:active {
  color: #222;
  border: 1px solid #222;
}

.button-green {
  background-color: springgreen;
  border-color: #222;
}

.button-orange {
  background-color: rgb(255, 102, 0);
  border-color: #222;
}
