.note-item {
  margin: 0.2rem;
  padding-bottom: 0.1rem;
  text-align: center;
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #7c7c7c;
  width: 100%;
}
